name: GitHub Metrics
on:
  schedule: [{cron: "0 */12 * * *"}]
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: Alchemist1910
          template: classic
          base: header, activity, community, repositories, metadata

          config_timezone: Asia/Kolkata

          plugin_activity: yes
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_followup: yes
          plugin_stars: yes
          plugin_typing: yes
          plugin_calendar: yes
          plugin_calendar_limit: 4
